mobilecheckin-exapp/src/main/mule/processcall.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="58fad398-b288-45e1-ab24-5767ee3f852f" >
		<http:request-connection host="localhost" port="8086" connectionIdleTimeout="40000" protocol="HTTPS">
			<tls:context >
				<tls:trust-store path="keystore/truststore.ts" password="truststorepass" type="jks"/>
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<flow name="processcallFlow" doc:id="07839147-cff3-45bb-90f7-983e36ff2ca3" >
		<http:request method="PUT" doc:name="Request" doc:id="75f48101-e4cd-4917-b999-feb436f985aa" config-ref="HTTP_Request_configuration" path="api/tickets/{PNR}/checkin">
			<http:uri-params ><![CDATA[#[{ 'PNR': vars.PNR }]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="5f2d691c-ac3a-4c6e-a08e-3caaf0e91be9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
